/* .gradient-text {
    background: linear-gradient(to right, white, hsl(142.5, 80.3%, 50%));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
} */